body {
    background-color: #111111;
    color: #fff;
}


.titles {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}


.texts {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}




.titleContainer {
    height: 5rem;
    width: 100%;
    text-align: center;
    margin-top: 5rem;
}

.fade-in {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}


.cardTraslado {
    background-color: #f8f8f8;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #000;
    width: 20rem;
}

.nav-color-custom {
    background-color: #f8f8f8;
}

/* Alineación space-around para el navbar */
/* .nav-color-custom .container-fluid {
    justify-content: space-around !important;
} */

/* O si querés space-between */
.nav-color-custom .container-fluid {
    justify-content: space-between !important;
}

